.main {
  display: flex;
  flex: 1;
  width: 100%;
  min-height: 88vh;
}

.warningMain {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warningCard {
  width: 420px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;

  border: 1px solid #fecaca;
  border-radius: 24px;
  background-color: #fef2f2;

  animation: popIn 0.4s ease forwards;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  70% {
    transform: scale(1.1);    /* slightly bigger than final size */
    opacity: 1;
  }
  100% {
    transform: scale(1);      /* final size */
  }
}

