.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border: none;
    box-sizing: border-box;
}

.text {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    margin: 0;
}

.link {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.875rem;
    cursor: pointer;
    text-decoration: none;
    color: #2563eb;
}

.link:hover {
    text-decoration: underline;
}