.chatBtn {
    padding: 6px;
    border-radius: 16px;
    background-color: rgb(206, 203, 203);
    position: absolute;
    bottom: 64px;
    right: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 999;
}

.chatDisplay {
    width: 400px;
    height: 560px;
    padding: 8px;
    border: 1px solid lightgrey;
    border-radius: 16px;
    position: absolute;
    bottom: 64px;
    right: 64px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    background-color: ivory;
    font-family: 'DM Sans', sans-serif;
    z-index: 999;
}

.chatDisplay > div:first-child {
    display: flex;
    align-items: center;
    gap: 4px;
}

.messageCtn {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ai, .user {
    max-width: 75%;
    word-wrap: break-word;
}

.ai {
    padding: 4px;
    align-self: start;
    border: 1px solid blue;
    border-radius: 8px;
}

.user {
    padding: 4px;
    align-self: end;
    border: 1px solid green;
    border-radius: 8px;
}

.chatDisplay > div:last-child {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: auto;
}