html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f8faff;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.app-content > * {
  flex: 1;
  min-height: 0;
}